body {
  margin: 0;
  padding: 0;
  font: normal .85em/1.5em "Helvetica Neue",Arial, Helvetica, sans-serif;
}
#tl {
  margin: 10px 0 0 0;
}
#header {
  padding: 8px 0 2px 0;
  margin: 0;
  height: 25px;
  font-size: 25px;
  background-color: #F2B50F;
  width: 100%;
  text-align: center;
  color: #FFFFFF;
}
.holder {
  height: 320px;
  z-index: 100;
  width: 100%;
}
.filters, .gi {
  padding: 5px 5px 0 5px;
  color: #111;
  font-size: 13px;
  /*width: 60%;*/
  /*max-width: 840px;*/
  /*top: 0px;*/
  /*position: fixed;*/
  /*z-index: 100;*/
}
.filters ol {
  margin: 0;
}
#i-graph {
  height: 200px;
}
#timeline-embed {
  padding-left: 10px;
}
.task {
  font-size: 14px;
}
#ui-datepicker-div  {
 z-index: 101; /* must be > than popup editor (950) */
}
.footer {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
.time {
  position: fixed;
  font-weight: bold;
  top: 10px;
  right: 20px;
  font-size: 16px;
  z-index: 100;
  background: #fff;
}
.legend {
  position: fixed;
  top: 30px;
  right: 20px;
  width: 20%;
  min-width: 400px;
  max-width: 500px;
  text-align: right;
  font-weight: bold;
  overflow: hidden;
  height: 220px;
}
.legend:hover {
  background: #f9f9f9;
}
.topic-include span {
  background-color: #fff;
}
.legend ul li {
  cursor: pointer;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.use-marker li {
  display: inline;
  font-style: italic;
  cursor: pointer;
  padding: 0 5px 0 5px;
  border-right: solid 1px #111;
}
.use-marker li:first-child {
  
  padding-left: 0;
}
.use-marker li:last-child {
  border: none;
}
.use-marker li:hover {
  text-decoration: underline;
}
.topic {
  font-weight: bold;
}
.highlight {
  text-decoration: underline;
  background: #eee;
}
#filter-form table {
  background: #f9f9f9;
}
#filter-form td.head {
  font-size: 12px;
  font-weight: bold;
}
#filter-form thead {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
  padding: 0;
}
.hide {
  display: none;
}
.no-resize {
  resize: none;
}
.modal {
  max-height: 600px;
  overflow-y: scroll;
}
.feedback-panel {
  z-index: 100;
  padding:20px;
  width: 300px;
  background: #fff;
  border: #00349C 1px solid;
  position:fixed;
  bottom:0px;
  left:-341px;
}
.feedback-tab {
  background: transparent url('feedbacktab.gif');
  border-width: 1px 1px 1px 0;
  display:block;
  height:99px;
  left:51px;
  top:20px;
  position:relative;
  float:right;
  text-indent:-9999px;
  width:30px;
  outline:none;
  cursor: pointer;
}
.error {
  color: #fff;
  background-color: #ff0000;
}
.evt-call {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.evt-call a {
  cursor: pointer;
}
input {
  padding: 2px;
}
a{color:#0088cc;text-decoration:none;}
a:hover{color:#005580;text-decoration:underline;}
.row{margin-left:-20px;*zoom:1;}.row:before,.row:after{display:table;content:"";}
.row:after{clear:both;}
[class*="span"]{float:left;margin-left:20px;}
.container,.navbar-fixed-top .container,.navbar-fixed-bottom .container{width:940px;}
.span12{width:940px;}
.span11{width:860px;}
.span10{width:780px;}
.span9{width:700px;}
.span8{width:620px;}
.span7{width:540px;}
.span6{width:460px;}
.span5{width:380px;}
.span4{width:300px;}
.span3{width:220px;}
.span2{width:140px;}
.span1{width:60px;}
.background {
  fill: #eee;
}
line {
  stroke: #fff;
}
text.active {
  fill: red;
}
text {
  font: 10px sans-serif;
}
.controls {
  padding: 0 0 0 20px;
}
.small {
  font-size: 13px;
}
.grey {
  color: #555;
  font-size: 12px;
}
.shift-right {
  padding-left: 20px;
}
.legend-links, .pointer {
  cursor: pointer;
}